<div class="ui segment">
    <h4 class="ui dividing header">{{ 'solutiondrive.ui.product_bundle'|trans }}</h4>
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.product) }}
    </div>
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'solutiondrive.ui.slots'|trans }}</h4>
    {{ form_row(form.slots) }}
</div>
